body{
    color: aqua;
    background-color: rgb(47, 33, 36);
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    

}

#ass{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.assets{
    background-color: #3d2727;
    border: 2px solid #8fbc8f;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
}

.assets h2{
    color: #8fbc8f;
}

.assets p{
    margin: 10px 0;
}

.Delete{
   background-color: #8fbc8f;
    
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

}
.Delete:hover{
     background-color: #aabdaa;
}
