body::before{
    content:"";
    position:fixed;
    inset:0;
    background:url("images/bg1.png");
    opacity:0.70;
    z-index:-1;
}
body{
    color: black;
    background-color: rgb(47, 33, 36);
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    

}

#assets{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.assets{
    background: #d7e8fd;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(30px);
    border: 2px solid #8fbc8f;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
}


.assets p{
    margin: 10px 0;
}

.Delete{
    background:#ef4444;
    color:white;
    
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

}
.Delete:hover{
     background-color: rgb(85, 184, 85);
}
.Edit{
    
    background:#2563eb;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.Edit:hover{
     background-color:#5b84de;
}


#kru{
    display: flex;
    gap: 20px;
}


#assets{
    padding:30px;

    display:flex;
    flex-wrap:wrap;
    gap:25px;
}
.assets{
    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border: 1px solid rgba(255,255,255,0.4);

    border-radius: 20px;

    box-shadow:
        0 8px 32px rgba(31,38,135,0.15);

    transition: all 0.3s ease;
}
.assets:hover{
    transform: translateY(-8px);

    box-shadow:
        0 20px 40px rgba(37,99,235,0.2);
}
h1{
    text-align:center;
    color:#1e293b;
    font-size:48px;
}
.assets h2{
    color:rgb(120, 21, 21);
    font-size:32px;
}


.assets h2{
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 15px;
}
.Delete{
    transition:0.3s;
}

.Delete:hover{
    transform:translateY(-5px);
}
.Edit{
    transition:0.3s;
}

.Edit:hover{
    transform:translateY(-5px);
}